%h1 Listing Posts
%table{"ng-controller" => "PostsController"}
  %tr
    %th Title
    %th Text
    %th {{test}}
    %th
    %th
    %tr{"ng-repeat" => "post in posts"}
      %td {{post.title}}
      %td {{post.text}}
      %td 
        %a{"href" =>"/posts/{{post.id}}"}show
      %td 
        %a{"href" =>"/posts/{{post.id}}/edit"}edit
      %td 
        %a{"href" =>"/posts/{{post.id}}"}delete